.content {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-right: 2px solid #edf2f4;
  justify-content: center;
}

.items {
  border-bottom: 1px solid #edf2f4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.items:last-child {
  border-bottom: none;
}

.button {
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #de3131;
  display: flex;
  justify-content: center;
  width: 150px;
  color: #ffffff;
}

.buttonContent {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
